<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link
      href="css/materialize.css"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    />
    <link
      rel="stylesheet"
      href="css/hairdresser-public-profile/hairdresser-public-profile.css"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.0.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <%- include ('../common/header') %> <%- include ('./nav') %>
    <div class="public-profile">
      <h2>美容師公開プロフィール</h2>
      <div class="imgupload-component">
        <p>プロフィール画像</p>
        <form
          method="POST"
          action="/public-profile-imgupload"
          enctype="multipart/form-data"
        >
          <input type="file" name="public-profile-imgupload-upFile" />
          <button type="submit">更新</button>
        </form>
      </div>
      <form action="/basic-info" method="POST" id="basic-info" novalidate>
        <div class="name-component">
          <div class="component">
            <p>お名前（ニックネームも可）</p>
            <span class="error_required"></span>
          </div>
          <input
            type="text"
            name="name"
            class="name required"
            id="name"
            value="<%= nickname %>"
          />
          <span class="error_name span-red"></span>
        </div>
        <div class="workplace-component">
          <div class="component">
            <p>勤務先（任意）</p>
            <span class="error_required"></span>
          </div>
          <input
            type="text"
            name="workplace"
            class="workplace"
            id="workplace"
            value="<%= workplace %>"
          />
          <span class="error_workplace span-red"></span>
        </div>
        <div class="business-experience-component">
          <div class="component">
            <p>実務年数</p>
            <span class="error_required"></span>
          </div>
          <input
            type="number"
            name="business-experience"
            class="business-experience required"
            id="business-experience"
            pattern="\d*"
            value="<%= business_experience %>"
          />
          <span>年</span>
          <span class="error_business_experience span-red"></span>
        </div>
        <button type="submit">更新</button>
      </form>
      <form action="/cut-form" method="POST" id="cut-form" novalidate>
        <div class="cut-component">
          <div class="component">
            <p>得意なカット</p>
            <span class="error_required"></span>
          </div>
          <textarea name="cut" class="cut required"><%= cut %></textarea>
          <span class="error_cut span-red"></span>
        </div>
        <button type="submit">更新</button>
      </form>
      <form
        action="/introduction-form"
        method="POST"
        id="introduction-form"
        novalidate
      >
        <div class="introduction-component">
          <div class="component">
            <p>自己紹介</p>
            <span class="error_required"></span>
          </div>
          <textarea
            name="introduction"
            class="introduction required"
            id="introduction"
          ><%= introduction %></textarea>
          <span class="error_introduction span-red"></span>
        </div>
        <button type="submit">更新</button>
      </form>
      <div class=pref-and-money>
        <div class="component">
          <p>場所と金額の対応表</p>
          <span class="error_required"></span>
        </div>
        <table>
          <tr><th>都道府県</th><th>市区町村</th><th>金額</th><th>削除</th></tr>
          <% for (let i = 0; i < pref_and_money_rows.length; i++) { %>
            <% if(pref_and_money_rows[i].pref){ %>
              <tr>
                <td><%- pref_and_money_rows[i].pref %></td>
                <td><%- pref_and_money_rows[i].city %></td>
                <td>￥<%- pref_and_money_rows[i].money %></td>
                <td><form method="POST" action="/delete-pref-and-money"><input type="submit" value="削除" /><input type="hidden" name="id" value="<%- pref_and_money_rows[i].id %>" /></form></td>
              </tr>
            <% } %>
          <% } %>
        </table>
        <form
        action="/pref-and-money"
        method="POST"
        id="pref-and-money"
        novalidate
        >
          <select id="select-pref" name="select-pref" class="required"
            ><option value="">都道府県を選択してください</option></select
          ><br></br>
          <select id="select-city" name="select-city" class="required"
            ><option value="">市区町村を選択してください</option></select
          ><br></br>
          <input
            type="number"
            name="amount_of_money"
            class="amount_of_money required"
            id="amount_of_money"
            pattern="\d*"
          />
          <span>円</span><br></br>
          <button type="submit" id="submit-pref-and-money">追加</button>
        </form>
      </div>
      <div class="schedule">
        <div class="schedule-component">
          <div class="component">
            <p>スケジュール</p>
            <span class="error_required"></span>
          </div>
          <table>
            <tr><th>日付</th><th>時刻（前）</th><th>時刻（後）</th><th>削除</th></tr>
            <% let get_datetime_before_zeropadding; %>
            <% let get_datetime_after_zeropadding; %>
            <% let get_datetime_before_getMonth; %>
            <% for (let i = 0; i < datetime.length; i++) { %>
              <% get_datetime_before_zeropadding = ("0" + datetime[i].datetime_before.getMinutes()).slice(-2) ; %>
              <% get_datetime_after_zeropadding = ("0" + datetime[i].datetime_after.getMinutes()).slice(-2) ; %>
              <% get_datetime_before_getMonth = datetime[i].datetime_before.getMonth() + 1; %>
              <tr>
                <td><%- datetime[i].datetime_before.getFullYear() + "/" + get_datetime_before_getMonth + "/" + datetime[i].datetime_before.getDate() %></td>
                <td><%- datetime[i].datetime_before.getHours() + "：" + get_datetime_before_zeropadding %></td>
                <td><%- datetime[i].datetime_after.getHours() + "：" + get_datetime_after_zeropadding %></td>
                <td><form method="POST" action="/delete-schedule"><input type="submit" value="削除" /><input type="hidden" name="id" value="<%- datetime[i].id %>" /></form></td>
              </tr>
            <% } %>
          </table>
          <form
            action="/schedule"
            method="POST"
            id="schedule"
            novalidate
          >
            <div class="select-date">
              <select id="select-year" name="select-year" class="required">
              </select><span>/</span>
              <select id="select-month" name="select-month" class="required"
                ></select
              ><span>/</span>
              <select id="select-day" name="select-day" class="required"
                ></select
              >
            </div>
            <div class="select-time">
              <div class="select-prev-time">
                <select id="select-prev-hour" name="select-prev-hour" class="required">
                  <% for(i=0;i<24;i++){ %>
                    <option value="<%= i %>"><%= ("0" + i).slice(-2) %></option>
                  <% } %>
                </select>
                <span>：</span>
                <select id="select-prev-min" name="select-prev-min" class="required">
                  <option value="00">00</option>
                  <option value="15">15</option>
                  <option value="30">30</option>
                  <option value="45">45</option>
                </select>
              </div>
              <span>〜</span>
              <div class="select-next-time">
                <select id="select-next-hour" name="select-next-hour" class="required">
                  <% for(i=0;i<24;i++){ %>
                    <option value="<%= i %>"><%= ("0" + i).slice(-2) %></option>
                  <% } %>
                </select>
                <span>：</span>
                <select id="select-next-min" name="select-next-min" class="required">
                    <option value="00">00</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="45">45</option>
                  </select>
                <span class="error_introduction span-red"></span>
              </div>
            </div>
          </div>
          <button type="submit">追加</button>
        </form>
      </div>
    </div>
    <%- include ('../common/footer') %>
    <script src="js/materialize.js"></script>
    <script src="js/public-profile-pref.js"></script>
    <script src="js/public-profile-schedule.js"></script>
    <script src="js/public-profile-validation.js"></script>
  </body>
</html>